PORT=5000
DATABASE_URL="postgresql://neondb_owner:npg_YyqMoFpgI70w@ep-calm-water-anvhla28-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="rdm-admin-8f2c9a7d5d4f4e0eb2a6b1c9f7d3c4e1b8a5d9f6c2a7e4b1c3d8f0a6b5e9c1d2"
JWT_EXPIRES_IN="1d"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
SEED_ADMIN_NAME="System Admin"
SEED_ADMIN_EMAIL="admin@example.com"
SEED_ADMIN_PASSWORD="Admin@123"
